<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LearnersAcademy</display-name>
  <welcome-file-list>
    <welcome-file>/pages/login.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>AdminLogins</display-name>
    <filter-name>AdminLogins</filter-name>
    <filter-class>com.login.AdminLogins</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminLogins</filter-name>
    <url-pattern>/LoadActionMenu</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LoadActionMenu</display-name>
    <servlet-name>LoadActionMenu</servlet-name>
    <servlet-class>com.actions.LoadActionMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadActionMenu</servlet-name>
    <url-pattern>/LoadActionMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>com.login.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadActionClasses</display-name>
    <servlet-name>LoadActionClasses</servlet-name>
    <servlet-class>com.actions.LoadActionClasses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadActionClasses</servlet-name>
    <url-pattern>/LoadActionClasses</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TopMenuActions</display-name>
    <servlet-name>TopMenuActions</servlet-name>
    <servlet-class>com.actions.TopMenuActions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopMenuActions</servlet-name>
    <url-pattern>/TopMenuActions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentclassAction</display-name>
    <servlet-name>StudentclassAction</servlet-name>
    <servlet-class>com.actions.StudentclassAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentclassAction</servlet-name>
    <url-pattern>/StudentclassAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadActionSubject</display-name>
    <servlet-name>LoadActionSubject</servlet-name>
    <servlet-class>com.actions.LoadActionSubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadActionSubject</servlet-name>
    <url-pattern>/LoadActionSubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherclassAction</display-name>
    <servlet-name>TeacherclassAction</servlet-name>
    <servlet-class>com.actions.TeacherclassAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherclassAction</servlet-name>
    <url-pattern>/TeacherclassAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SavesubjectTeacherMap</display-name>
    <servlet-name>SavesubjectTeacherMap</servlet-name>
    <servlet-class>com.actions.SavesubjectTeacherMap</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SavesubjectTeacherMap</servlet-name>
    <url-pattern>/SavesubjectTeacherMap</url-pattern>
  </servlet-mapping>
</web-app>